<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>Список пользователей</title>
</head>
<style>
    [v-cloak]{
    display: none;
}
</style>

<body>
    <div id="app" v-cloak>
        <p>{{ title }}</p>
        <button type="button" v-on:click="ToggleShowTable">
            {{toggleMethodTitle}}
        </button>
        <table v-if="showtable">
            <caption>
                {{TableRowCount}}
            </caption>
            <tr>
                <td>
                    Имя
                </td>
                <td>
                    Фамилия
                </td>
                <td>
                    Отчество
                </td>
                <td>
                    Аватар
                </td>
            </tr>
            <tr v-for="item in table" :key="item.id">
                <td>
                    {{item.firstname}}
                </td>
                <td>
                    {{item.secondname}}
                </td>
                <td>
                    {{item.patronymic}}
                </td>
                <td>
                    <img v-bind:src="!item.avatar ? './images/default.jpg' : item.avatar">
                </td>
            </tr>

        </table>
    </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>"
<script>
    let app = new Vue({
        el: '#app',
        data: function () {
            return {
                table: [
                    {
                        id: '1',
                        firstname: 'Иван',
                        secondname: 'Иванов',
                        patronymic: 'Иванович',
                        avatar: './images/1.jpg'
                    },
                    {
                        id: '2',
                        firstname: 'Максим',
                        secondname: 'Сидоров',
                        patronymic: 'Федорович',
                        avatar: './images/2.jpg'
                    },
                    {
                        id: '3',
                        firstname: 'Сергей',
                        secondname: 'Емельянов',
                        patronymic: 'Александрович'

                    },
                    {
                        id: '4',
                        firstname: 'Владимир',
                        secondname: 'Сафронов',
                        patronymic: 'Владиславович',
                        avatar: './images/3.jpg'
                    },
                    {
                        id: '5',
                        firstname: 'Петр',
                        secondname: 'Антипов',
                        patronymic: 'Андреевич',
                        avatar: './images/4.jpg'
                    },
                ],
                title: 'Тестовое задание по Vue.',
                showtable: true,
            }
        },
        methods: {
            ToggleShowTable: function () {
                this.showtable = !this.showtable;
            },
           
        },
        computed: {
            TableRowCount: function () {
                return this.table.length;
            },
            toggleMethodTitle: function () {
                return this.showtable ? "Скрыть таблицу " : "Показать таблицу"; 
            }
        }
    });

</script>


</html>